<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ</title>
    <link rel="stylesheet" href="styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" />
  </head>
  <body>
    <div class="section">
      <!-- header section -->
      <div class="header headerTwo">
        <h1 class="index-head">Bangla Stemmer</h1>
        <button onclick="location.href = '/';" class="admin-btn">
          Log In
        </button>
      </div>
      <!-- log in section -->
      <main>
        <section class="faq-container">
          <h1 class="faq-heading">FAQ'S</h1>
          <div class="faq-one">
            <!-- faq question -->
            <h1 class="faq-page">What is this website for?</h1>

            <!-- faq answer -->
            <div class="faq-body">
              <p>
                This website is built by sust cse 2018. Basically, this website
                is a part of an academic project/research work. This website
                will be used for collecting data, that will be used for the
                future research. And FYI, the research is about root/stem
                identification in bangla langugage.
              </p>
            </div>
          </div>
          <hr class="hr-line" />
          <div class="faq-three">
            <!-- faq question -->
            <h1 class="faq-page active">Rules for Bangla Stemming</h1>

            <!-- faq answer -->
            <div class="faq-body" style="display: block;">
              <ul>
                <li>
                  Stemming means stripping off the affixes(both suffix and
                  prefix) to obtain the base form of the word, without changing
                  the meaing of the given word. So, we need to strip the affixes
                  to get the atomic stem, which is both meaningful and related
                  to the given word.
                  <br />
                  Example : <br /><br />
                  <table class="customers">
                    <tr>
                      <th style="text-align: center">Given Word</th>
                      <th style="text-align: center">Stem Word</th>
                    </tr>
                    <tr>
                      <td>সংবাদসমূহ</td>
                      <td>সংবাদ</td>
                    </tr>
                    <tr>
                      <td>হরিণটার</td>
                      <td>হরিণ</td>
                    </tr>
                    <tr>
                      <td>এঘটনা</td>
                      <td>ঘটনা</td>
                    </tr>
                    <tr>
                      <td>ট্যাংকারডুবির</td>
                      <td>ট্যাংকার</td>
                    </tr>
                    <tr>
                      <td>খ্রিস্টধর্মাবলম্বী</td>
                      <td>খ্রিস্ট</td>
                    </tr>
                    <tr>
                      <td>ক্রমাঙ্কিত</td>
                      <td>ক্রম</td>
                    </tr>
                    <tr>
                      <td>বংশধরদেরও</td>
                      <td>বংশ</td>
                    </tr>
                    <tr>
                      <td>কার্যপরিচালনার</td>
                      <td>কার্য</td>
                    </tr>
                    <tr>
                      <td>সুবাসনা</td>
                      <td>বাসনা</td>
                    </tr>
                  </table>
                  <!-- সংবাদসমূহ -> সংবাদ; হরিণটার -> হরিণ; এঘটনা -> ঘটনা; তুলবেই ->
                  তুলব (Here, if you strip the word to 'তুল' which means
                  comparison, the meaing changes); ট্যাংকারডুবির -> ট্যাংকার;
                  খ্রিস্টধর্মাবলম্বী -> খ্রিস্ট; ক্রমাঙ্কিত -> ক্রম; বংশধরদেরও
                  -> বংশ; কার্যপরিচালনার -> পরিচালনা; সুবাসনা -> বাসনা -->
                </li>
                <li>
                  Please be careful about overstemming. Overstemming changes the
                  meaing from the original word. Example :
                  <br /><br />
                  <table class="customers">
                    <tr>
                      <th style="text-align: center">Given Word</th>
                      <th style="text-align: center">Stem Word</th>
                    </tr>
                    <tr>
                      <td>যন্ত্রণা</td>
                      <td>যন্ত্রণা (not যন্ত্র)</td>
                    </tr>
                    <tr>
                      <td>খালামনি</td>
                      <td>খালা (not খাল)</td>
                    </tr>
                    <tr>
                      <td>মাটি</td>
                      <td>মাটি (not মা)</td>
                    </tr>
                    <tr>
                      <td>নিবন্ধন</td>
                      <td>নিবন্ধন (not বন্ধন)</td>
                    </tr>
                    <tr>
                      <td>ইউনিভার্সিটি</td>
                      <td>ইউনিভার্সিটি (not ইউনিভার্স)</td> 
                    </tr>
                    <tr>
                      <td>ঘনকাকার </td>
                      <td>ঘনক  (not ঘন)</td>
                    </tr>
                  </table>
                </li>
                <li>
                  Don't modify the name of the places, people or anything
                  specific. Example :
                  <br /><br />
                  <table class="customers">
                    <tr>
                      <th style="text-align: center">Given Word</th>
                      <th style="text-align: center">Stem Word</th>
                    </tr>
                    <tr>
                      <td>ইন্ডিয়াটাইম্‌স</td>
                      <td>ইন্ডিয়াটাইম্‌স (not ইন্ডিয়া)</td>
                    </tr>
                    <tr>
                      <td>সামীউল</td>
                      <td>সামীউল (not সামীউল)</td>
                    </tr>
                    <tr>
                      <td>আলকনাথ</td>
                      <td>আলকনাথ (not আলক)</td>
                    </tr>
                  </table>
                </li>
                <li>
                  For words consist of two stems, store the first one as the
                  stem. Example :
                  <br /><br />
                  <table class="customers">
                    <tr>
                      <th style="text-align: center">Given Word</th>
                      <th style="text-align: center">Stem Word</th>
                    </tr>
                    <tr>
                      <td>স্মৃতিকথা</td>
                      <td>স্মৃতি</td>
                    </tr>
                    <tr>
                      <td>বইপুস্তক</td>
                      <td>বই</td>
                    </tr>
                    <tr>
                      <td>উদ্দেশ্যসাধন</td>
                      <td>উদ্দেশ্য</td>
                    </tr>
                    <tr>
                      <td>নগরভবন</td>
                      <td>নগর</td>
                    </tr>
                    <tr>
                      <td>মাতৃভাষা</td>
                      <td>মাতৃ</td>
                    </tr>
                  </table>
                  ** Here, by saying two stems, it means that both the stem
                  words have a meaning and they can be used independently of any
                  other words. But in some cases, the first stem may or may not
                  have a meaning, but regardlessly, they(the first stem) can't
                  be used independently of any other words. They are usually
                  added before a word to create a new word. That means in this
                  case the first stem is a prefix and you need to remove the
                  prefix and store the second one. Examples :
                  <br /><br />
                  <table class="customers">
                    <tr>
                      <th style="text-align: center">Given Word</th>
                      <th style="text-align: center">Stem Word</th>
                    </tr>
                    <tr>
                      <td>অতিদরিদ্র</td>
                      <td>দরিদ্র</td>
                    </tr>
                    <tr>
                      <td>মহাসচিব</td>
                      <td>সচিব</td>
                    </tr>
                  </table>
                </li>
                      
                <!-- our change is here -->
                <li>
                  Stop stemming if the meaning of the word is changed.
                  Example :
                  <br /><br />
                  <table class="customers">
                    <tr>
                      <th style="text-align: center">Given Word</th>
                      <th style="text-align: center">Root Word</th>
                    </tr>
                    <tr>
                      <td>কবিরাজ</td>
                      <td>কবিরাজ (not কবি)</td>
                    </tr>
                    <tr>
                      <td>মানচিত্র </td>
                      <td>মানচিত্র (not চিত্র)</td>
                    </tr>
                    <tr>
                      <td>সফটওয়্যার</td>
                      <td>সফটওয়্যার (not সফট)</td>
                    </tr>
                    <tr>
                      <td>মাল্টিমিডিয়া  </td>
                      <td>মাল্টিমিডিয়া (not মাল্টি)</td>
                    </tr>
                  </table>
                </li>


                <li>
                  Stop stemming if the spelling of the word becomes wrong.
                  Example :
                  <br /><br />
                  <table class="customers">
                    <tr>
                      <th style="text-align: center">Given Word</th>
                      <th style="text-align: center">Root Word</th>
                    </tr>
                    <tr>
                      <td>আনুষ্ঠানিকতাটুকু</td>
                      <td>আনুষ্ঠানিক (not আনুষ্ঠান)</td>
                    </tr>
                    <tr>
                      <td>সামাজিকতা</td>
                      <td>সামাজিক (not সামাজ)</td>
                    </tr>
                    <tr>
                      <td>দালিলিকভাবে</td>
                      <td>দালিলিক (not দালিল)</td>
                    </tr>
                  </table>
                </li>
                <li>
                  Use the same rules for Banglish words. Example :
                  <br /><br />
                  <table class="customers">
                    <tr>
                      <th style="text-align: center">Given Word</th>
                      <th style="text-align: center">Root Word</th>
                    </tr>
                    <tr>
                      <td>মেট্রোরেল</td>
                      <td>মেট্রো</td>
                    </tr>
                    <tr>
                      <td>শপিংমল</td>
                      <td>শপিং</td>
                    </tr>
                    <tr>
                      <td>মোবাইলফোন</td>
                      <td>মোবাইল</td>
                    </tr>
                  </table>
                </li>
                <li>
                  Please refrain yourself from submiting stems, you are not sure
                  about. We highly recommend you to skip those words. If you
                  have any confusion, feel free to ask the admins.
                  <br />
                  <br />
                </li>
              </ul>
            </div>
          </div>

          <hr class="hr-line" />

          <div class="faq-two">
            <!-- faq question -->
            <h1 class="faq-page">How can I sign up?</h1>

            <!-- faq answer -->

            <div class="faq-body">
              <p>
                Unfortunately, you can't sign up on your own. Usually, the admin
                assigns the selected users and only then you can get your
                username and password, which is required for signing in.
              </p>
            </div>
          </div>
          <hr class="hr-line" />

          <div class="faq-two">
            <!-- faq question -->
            <h1 class="faq-page">The page is not loading?</h1>

            <!-- faq answer -->

            <div class="faq-body">
              <p>
                <ul>
                  <li>
                    Please be patient. It can take up 40 seconds
                    when you visit the website after a long time.
                  </li>
                  <li>
                    <b>second option</b>
                      you can access the website through two url <br>
                      <a href="https://bangla-stemmer.onrender.com/">bangla-stemmer.onrender.com</a><br>
                      <a href="https://bangla-stemmer.cyclic.app/">bangla-stemmer.cyclic.app</a> <br>
                  </li>
                </ul>
                <b>
                  Please note down these two URL so that you can use the second one
                  if the first one doesn't response. <br>
                </b>

                If any of the two server doesn't response within 15/20 minutes and your
                are sure that your internet connection is okay <br>
                -> then contact us.
              </p>
            </div>
          </div>
          <hr class="hr-line" />


                    <div class="faq-two">
                      <!-- faq question -->
                      <h1 class="faq-page">I can't login to my account</h1>

                      <!-- faq answer -->

                      <div class="faq-body">
                        <ul>
                          <li>
                            if the server showing you  <b>unauthorized</b> then you have put
                            a wrong username or password. 
                          </li>
                          <li>
                             if you being redirected to the login page again then you may have
                             done so many wrong annotation. As a result,your accont has been deactivated. <br>
                             if your want to start annotation again, read the rules thoroughly and then contact us. 
                          </li>
                          <li>
                            <b>NB: Don't forget your password
                          </li>
                        </ul>
                      </div>
                    </div>
                    <hr class="hr-line" />

          <div class="faq-three">
            <!-- faq question -->
            <h1 class="faq-page">How does the webiste works ?</h1>

            <!-- faq answer -->
            <div class="faq-body">
              <p>
                First, you'll have to log in using the assigned username and
                password. After that, you can access the data-entry page. In
                this page, you'll be given a word and you have to identify the
                root/stem of the word using the backspace key on your keyboard.
                Here you'll find three buttons : submit, skip and garbage.
                <ul>
                  <li>
                    <b>Submit:</b> After you find the root, using backspace, press enter.
                    The indentified root will be recorded on our database.
                  </li>
                  <li>
                    <b>Skip:</b> If you are not sure about
                    the root of a word, skip that word by pressing the skip button.
                  </li>
                  <li>
                    <b>Grabage: </b> If you think the given word is not a valid word, press the
                    garbage button.
                  </li>
                </ul>
                 Please make sure to log out before you exit the
                website.
              </p>
            </div>
          </div>

          <hr class="hr-line" />
          <div class="faq-two">
            <!-- faq question -->
            <h1 class="faq-page">How to correct the mistakes?</h1>

            <!-- faq answer -->

            <div class="faq-body">
              <p>
                Go to <b>your profile</b> and then go to <b>my words</b>.
                You can edit your words by clicking the <b>edit</b> button.
                The root along with its time and date will be updated.<br>
                <b>N.B.:</b> You may need to refresh the page to see the updated root
                when your internet connection is slow.

              </p>
            </div>
          </div>
          <hr class="hr-line" />

          <div class="faq-four">
            <!-- faq question -->
            <h1 class="faq-page">Examples of some root identification</h1>

            <!-- faq answer -->
            <div class="faq-body">
              <p>Here are some of the root identification example :</p>
              <table class="customers">
  <tr>
   
    <th style="text-align: center">Given Word</th>
    <th style="text-align: center">Identified Root</th>
  </tr>

  <!-- example -->
  <tr>
    
    <td>বাংলাদেশের</td>
    <td>বাংলাদেশ</td>
  </tr>
  <tr>
    
    <td>অবিশ্বাসী</td>
    <td>বিশ্বাস</td>
  </tr>
  <tr>
    
    <td>দিয়েছিলাম</td>
    <td>দিয়ে</td>
  </tr>
  <tr>
    
    <td>করেছিলাম</td>
    <td>কর</td>
  </tr>
  <tr>
    
    <td>বিরোধিতায়</td>
    <td>বিরোধ</td>
  </tr>
  <tr>
    
    <td>আরেকটি</td>
    <td>আরেক</td>
  </tr>
  <tr>
    
    <td>বলে</td>
    <td>বল</td>
  </tr>
  <tr>
    
    <td>কংগ্রেসকে</td>
    <td>কংগ্রেস</td>
  </tr>
  <tr>
    
    <td>অনুমানিক</td>
    <td>অনুমান</td>
  </tr>
  <tr>
    
    <td>অনুমানমূলক</td>
    <td>অনুমান</td>
  </tr>
  <tr>
    
    <td>সমীকরণের</td>
    <td>সমীকরণ</td>
  </tr>
  <tr>
    
    <td>রাষ্ট্রীয়</td>
    <td>রাষ্ট্র</td>
  </tr>
  <tr>
    
    <td>ফলাফল</td>
    <td>ফলাফল</td>
  </tr>
  <tr>
    
    <td>পর্যায়ের</td>
    <td>পর্যায়</td>
  </tr>
  <tr>
    
    <td>চ্যাম্পিয়নরা</td>
    <td>চ্যাম্পিয়ন</td>
  </tr>
  <tr>
    
    <td>উত্তরই</td>
    <td>উত্তর</td>
  </tr>
  <tr>
    
    <td>ঝাঁপিয়ে</td>
    <td>ঝাঁপ</td>
  </tr>
  <tr>
    
    <td>ওঠার</td>
    <td>ওঠ</td>
  </tr>
  <tr>
    
    <td>শেষের</td>
    <td>শেষ</td>
  </tr>
  <tr>
    
    <td>মেসিদের</td>
    <td>মেসি</td>
  </tr>
  <tr>
    
    <td>রেকর্ডে</td>
    <td>রেকর্ড</td>
  </tr>

  <!-- example -->
</table>
            </div>
          </div>
        </section>
      </main>
    </div>
    <script src="script.js"></script>
    <script src="faqScript.js"></script>
  </body>
</html>
