<div class="sidebar">
  <p class="copy-right-p">COPYRIGHT © SUST CSE &nbsp2018-19</p>
  <h2 class="menu">Menu</h2>
  <ul class="ulStyle">

    <li>
      <a href="/stat">
        <span class="item">User Stats</span>
      </a>
    </li>
	
    <li>
      <a href="/per-day-stat">
        <span class="item">Per Day Stat</span>
      </a>
    </li>
	
    <li>
      <a href="/data-stat">
        <span class="item">Stat Summery</span>
      </a>
    </li>

	<li>
      <a href="/register">
        <span class="item">Assign New User</span>
      </a>
    </li>
    <li>
      <a href="/activeDeactive">
        <span class="item">Activate/Deactivate User</span>
      </a>
    </li>
	    <li class="hoverItem">
      <a href="/admin">
        <span class="item">Identified roots</span>
      </a>
    </li>
    <li>
      <a href="/skipped-words">
        <span class="item">Skipped Words</span>
      </a>
    </li>
    <li>
      <a href="/garbage-words">
        <span class="item">Garbage Words</span>
      </a>
    </li>

  </ul>
</div>
