<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Stats</title>
    <link rel="stylesheet" href="styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="section">
      <div class="header headerTwo">
        <h1 class="index-head"><%-usr%></h1>
        <form class="" action="/admin-logout" method="post">
          <button type="submit" class="logOut-btn admin-btn">
            Log out
          </button>
        </form>
      </div>
      <div class="admin-main">
        <h5 style="margin: 10px auto 42px auto; text-align: center">
          Here is the stats of your work so far :
        </h5>

        <table class="customers">
          <tr>
            <th style="text-align: center">Day no.</th>
            <th style="text-align: center">Date</th>
            <th style="text-align: center">No. of words</th>
            <th style="text-align: center">No. of hours</th>
            <th style="text-align: center">Per Hour</th>
            <th style="text-align: center">Words List</th>
          </tr>
          <%let i=0%>
          <% data.forEach(function(day){ %>

          <tr>
            <td><%=++i%></td>
            <td><%-day._id%></td>
            <td><%-day.count%></td>
            <td>1 hr 41 Mins</td>
            <td>
              <input
                class="toggleVisibilityButton"
                type="button"
                value="Per Hour Stats"
                style="padding: 0"
              />
            </td>
            <td>
              <button onclick="location.href='/admin';" class="edit-btn">
                My Words
              </button>
            </td>
          </tr>

        <%});%>
        </table>
        <!-- Per Hour table  -->
        <table
          class="displaytable customers"
          style="display: none; border: 3; width: 100%"
          ;
        >
          <tr style="text-align: center">
            <td style="text-align: center">Session</td>
            <td style="text-align: center">TimeStamp</td>
            <td style="text-align: center">Session Time</td>
            <td style="text-align: center">No. of Words</td>
          </tr>
          <tr>
            <td style="text-align: center">1</td>
            <td style="text-align: center">9:45 - 10:20</td>
            <td style="text-align: center">35 Mins</td>
            <td style="text-align: center">33</td>
          </tr>
          <tr>
            <td style="text-align: center">2</td>
            <td style="text-align: center">12:43 - 1:49</td>
            <td style="text-align: center">1 hrs 6 mins</td>
            <td style="text-align: center">128</td>
          </tr>
        </table>
      </div>
      <div
        class="modal fade"
        id="editModal"
        tabindex="-1"
        aria-labelledby="editModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLabel">Edit Word Info</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form
                id="editBookForm"
                action="{% url 'admin-book-list-view' %}"
                method="post"
                enctype="multipart/form-data"
              >
                <input type="hidden" name="post_type" value="edit" />
                <div class="mb-3">
                  <label for="modal-edit-serial-no" class="form-label"
                    >Serial No.</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="modal-edit-serial-no"
                    name="serialNo"
                    value="1"
                    readonly
                  />
                </div>
                <div class="mb-3">
                  <label for="modal-edit-given-word" class="form-label"
                    >Given Word</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="modal-edit-given-word"
                    name="givenWord"
                    value="বাংলাদেশের"
                  />
                </div>
                <div class="mb-3">
                  <label for="modal-edit-root-word" class="form-label"
                    >Root Word</label
                  >
                  <input
                    class="form-select"
                    name="rootWord"
                    id="modal-edit-root-word"
                    value="বাংলাদেশ"
                  />
                </div>
                <div class="mb-3">
                  <label for="modal-edit-inflection" class="form-label"
                    >Inflection</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="inflection"
                    id="modal-edit-inflection"
                    value="র"
                  />
                </div>
                <div class="mb-3">
                  <label for="modal-edit-user-name" class="form-label"
                    >User Name</label
                  >
                  <input
                    placeholder="User Name"
                    value="mahir_05"
                    name="userName"
                    id="modal-edit-user-name"
                    type="text"
                    class="form-control datepicker"
                  />
                </div>
                <div class="mb-3">
                  <label for="modal-edit-time-stamp" class="form-label"
                    >TimeStamp</label
                  >
                  <div class="input-group">
                    <input
                      type="time"
                      class="form-control"
                      name="timeStamp"
                      id="modal-edit-time-stamp"
                      value=""
                    />
                  </div>
                </div>

                <div class="mb-3">
                  <label for="modal-edit-date" class="form-label">Date</label>
                  <input
                    type="date"
                    class="form-control"
                    name="date"
                    id="modal-edit-date"
                    value="18-Oct-2022"
                  />
                </div>
                <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button submit"
                form="editBookForm"
                class="btn btn-primary"
              >
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="copy-right">
        <p class="copy-right-p">COPYRIGHT © SUST CSE &nbsp2018-19</p>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
      integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
      integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
      crossorigin="anonymous"
    ></script>
    <script src="script.js"></script>
  </body>
</html>
