<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Entry</title>
    <link rel="stylesheet" href="styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  </head>
  <body>
    <div class="section">
      <div class="header headerTwo">
        <h1 class="index-head">Welcome to Bangla Stemmer</h1>
        <a href="/my-profile"><i class="fa-light fa-user"></i></a>
        <form class="" action="/logout" method="post">
          <button class="admin-btn" type="submit">Log out</button>
        </form>
      </div>
      <div class="main">
					<div class="">
						<h3>Username : <%=myself.username%></h3>
					</div>
					<div class="">
						<h3>Email : <%=myself.email%></h3>
					</div>
					<div class="">
						<h3>Total Completed : <%=myself.completed%></h3>
					</div>
      </div>
      <div class="copy-right">
        <p class="copy-right-p">COPYRIGHT © SUST CSE &nbsp2018-19</p>
      </div>
    </div>
  </body>
</html>
